__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

.env
kaggle.json
uploaded/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
submissions/*
!submissions/.gitkeep

wandb/
lightning_logs/
runs/
outputs/
